h1 {
	color:white;
	text-align: center;
	margin: 10px 0;
	font-family: Lato;
	font-size: 40px;
}
section {
	margin:50px 0;
}
body {
	background-color: #4682B4;
}

article {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
}
.heart-graph {
	height:300px;
	width:600px;
	background-color: #2C001E;
	position:relative;
	padding:32px;
	left:32%;
}
.heart-graph::before{
	content:'';
	position: absolute;
	left:30px;
	top:30px;
	height:303px;
	width:2px;
	background: #4682B4
}
.heart-graph::after {
	content:'';
	position: absolute;
	left:30px;
	bottom:30px;
	height:2px;
	width:600px;
	background: #4682B4
}

.cls-1 {
		fill:none;
		stroke: #abedd8;
		stroke-miterlimit:10;
		stroke-width:2px;

	}

svg {
	position:absolute;
	left:32px;
/*	top:70px;*/
	width:540px;

}



